*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.listSlider{
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.listSlider .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev{
    width: 30px!important;
    height: 30px!important;
    background-color: #fff;
    border-radius: 50%;
    transition: transform .25s ease;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 15px!important;
    color: #333;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    transform: scale(1.2);
}
.swiper-pagination-bullet{
    border: 1.2px solid #fff;
    width: 10px!important;
    height: 10px!important;
    transition: width .25s;
}
.swiper-pagination-bullet-active{
    background-color: #fff!important;
    width: 25px!important;
    border-radius: 8px!important;
}

